.App {
  text-align: right;
  background-image: url(https://img.freepik.com/free-vector/gradient-universe-background_23-2149635763.jpg?w=826&t=st=1680557508~exp=1680558108~hmac=324ba9e4711f74deb85f6ff1f22e7cad06a8fb7a513ac42b36c8d4a93436adaf);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
