body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: 'https://img.freepik.com/free-vector/gradient-universe-background_23-2149635763.jpg?w=826&t=st=1680557508~exp=1680558108~hmac=324ba9e4711f74deb85f6ff1f22e7cad06a8fb7a513ac42b36c8d4a93436adaf';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
